<div>
  <h1 class="titulo">Listar Correcciones de IA</h1>
</div>

<div class="tabla-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-usuarios">
    <!-- Columnas de la tabla -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID de la Corrección</th>
      <td mat-cell *matCellDef="let element">{{ element.idCorreccionIA }}</td>
    </ng-container>

    <ng-container matColumnDef="capitulo">
      <th mat-header-cell *matHeaderCellDef>Título del Capítulo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.capitulos.idCapitulo }} - {{ element.capitulos.capTitulo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="correccion">
      <th mat-header-cell *matHeaderCellDef>Corrección</th>
      <td mat-cell *matCellDef="let element">{{ element.corCorreccionIA }}</td>
    </ng-container>

    <ng-container matColumnDef="implementar">
      <th mat-header-cell *matHeaderCellDef>Implementar Corrección</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="implementarCorreccion(element)" *ngIf="isAutor()">
          <mat-icon>done</mat-icon> Implementar
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="eliminar(element.idCorreccionIA)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Spinner de Carga -->
  <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
</div>
