<div class="form-container">
  <h1>Registro de Capitulos</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    
    <!-- Título de Capítulo -->
    <mat-form-field class="example-full-width">
      <mat-label>Título de Capítulo</mat-label>
      <input matInput placeholder="Capítulo" formControlName="titulo" />
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">
        El título del capítulo es obligatorio!!
      </mat-error>
    </mat-form-field>

    <!-- Contenido de Capítulo -->
    <mat-form-field class="example-full-width">
      <mat-label>Contenido de Capítulo</mat-label>
      <textarea
        matInput
        placeholder="Contenido"
        formControlName="contenido"
        rows="12"
        style="resize: vertical;"
      ></textarea>
      <mat-error *ngIf="form.get('contenido')?.hasError('required')">
        El contenido es obligatorio!!
      </mat-error>
    </mat-form-field>

    <button mat-flat-button type="submit">Aceptar</button>
  </form>
</div>
