<div class="form-container">
    <h1>{{ edicion ? 'Actualizar Comentario' : 'Registro de Comentario' }}</h1>
    <form [formGroup]="form" (submit)="aceptar()">

        <!-- ID -->
        <div class="form-group" *ngIf="edicion">
            <label for="codigo">Código del Comentario</label>
            <input id="codigo" type="text" formControlName="codigo" readonly class="input-id">
            <mat-error *ngIf="form.get('codigo')?.hasError('required') && form.get('codigo')?.touched">
                Este campo es obligatorio
            </mat-error>
        </div>

        <!-- Contenido -->
        <div class="form-group">
            <label for="contenido">Contenido</label>
            <textarea id="contenido" formControlName="contenido" placeholder="Eg: La Novela es buena"
                rows="3"></textarea>
            <mat-error *ngIf="form.get('contenido')?.hasError('required') && form.get('contenido')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('contenido')?.hasError('minlength') && form.get('contenido')?.touched">
                El tema debe tener al menos 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.get('contenido')?.hasError('pattern') && form.get('contenido')?.touched">
                El tema debe tener solo letras y espacios
            </mat-error>
        </div>

        <!-- Fecha -->
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" formControlName="fecha" [value]="actualDate | date: 'dd-MM-yyyy'" readonly>
        </div>

        <!--Usuario-->
        <div class="form-group" *ngIf="!edicion">
            <label for="usuario">Usuario</label>
            <input id="usuario" type="text" formControlName="usuario" [value]="user.username" readonly class="input-id">
        </div>

        <!--Capitulo-->
        <div class="form-group">
            <label for="capitulo">Capítulo</label>

            <!-- ✅ Input que muestra automáticamente el capítulo preseleccionado -->
            <input id="capitulo" type="text" formControlName="capitulo"
                [value]="capituloPreseleccionado?.capTitulo || 'Seleccione un capítulo'" readonly class="input-id">
        </div>

        <!--Botones-->
        <button type="submit" class="submit-button" [disabled]="form.invalid">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
        <button type="button" class="cancel-button" (click)="cancelar()">Cancelar</button>

    </form>
</div>