<div class="form-container">
    <h1>{{ edicion ? 'Actualizar Comentario' : 'Registro de Comentario' }}</h1>
    <form [formGroup]="form" (submit)="aceptar()">

        <!-- ID -->
        <div class="form-group" *ngIf="edicion">
            <label for="codigo">Código del Comentario</label>
            <input id="codigo" type="text" formControlName="codigo" readonly class="input-id">
            <mat-error *ngIf="form.get('codigo')?.hasError('required') && form.get('codigo')?.touched">
                Este campo es obligatorio
            </mat-error>
        </div>

        <!-- Contenido -->
        <div class="form-group">
            <label for="contenido">Contenido</label>
            <textarea id="contenido" formControlName="contenido" placeholder="Eg: La Novela es buena" rows="3"></textarea>
            <mat-error *ngIf="form.get('contenido')?.hasError('required') && form.get('contenido')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('contenido')?.hasError('minlength') && form.get('contenido')?.touched">
                El tema debe tener al menos 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.get('contenido')?.hasError('pattern') && form.get('contenido')?.touched">
                El tema debe tener solo letras y espacios
            </mat-error>
        </div>

        <!-- Fecha -->
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" formControlName="fecha">
            <mat-error *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('fecha')?.hasError('fechaFutura') && form.get('fecha')?.touched">
                No se permiten fechas futuras. Selecciona hoy o una fecha superior.
            </mat-error>
        </div>

        <!--Usuario-->
        <div class="form-group" *ngIf="!edicion">
            <label for="usuario">Usuario</label>
            <select id="usuario" formControlName="usuario">
                <option value="" disabled selected>Seleccione un usuario</option>
                <option *ngFor="let usuario of listaUsuarios" [value]="usuario.idUsuario">
                    {{usuario.usNombre}}
                </option>
            </select>
            <mat-error *ngIf="form.get('usuario')?.hasError('required') && form.get('usuario')?.touched">
                Este campo es obligatorio
            </mat-error>
        </div>

        <!--Capitulo-->
        <div class="form-group">
            <label for="capitulo">Capítulo</label>
            <select id="capitulo" formControlName="capitulo">
                <option value="" disabled selected>Seleccione un capítulo</option>
                <option *ngFor="let capitulo of listaCapitulos" [value]="capitulo.idCapitulo">
                    {{capitulo.capTitulo}}
                </option>
            </select>
            <mat-error *ngIf="form.get('capitulo')?.hasError('required') && form.get('capitulo')?.touched">
                Este campo es obligatorio
            </mat-error>
        </div>

        <!--Botones-->
        <button type="submit" class="submit-button" [disabled]="form.invalid">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
        <button type="button" class="cancel-button" (click)="cancelar()">Cancelar</button>

    </form>
</div>