<div class="form-container">
    <h1>{{ edicion ? 'Actualizar Reunión' : 'Registro de Reunión' }}</h1>
    <form [formGroup]="form" (submit)="aceptar()">

        <!-- ID -->
        <div class="form-group" *ngIf="edicion">
            <label for="codigo">Código de la Reunión</label>
            <input id="codigo" type="text" formControlName="codigo" readonly class="input-id">
            <mat-error *ngIf="form.get('codigo')?.hasError('required') && form.get('codigo')?.touched">
                Este campo es obligatorio
            </mat-error>
        </div>

        <!-- Tema -->
        <div class="form-group">
            <label for="tema">Tema de la Reunión</label>
            <input id="tema" type="text" formControlName="tema" placeholder="Eg: La muerte LN">
            <mat-error *ngIf="form.get('tema')?.hasError('required') && form.get('tema')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('tema')?.hasError('minlength') && form.get('tema')?.touched">
                El tema debe tener al menos 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.get('tema')?.hasError('pattern') && form.get('tema')?.touched">
                El tema debe tener solo letras y espacios
            </mat-error>
        </div>

        <!-- Link -->
        <div class="form-group">
            <label for="link">Link de la Reunión</label>
            <input id="link" type="text" formControlName="link" placeholder="Eg: www.link/teams?reunion=1.com">
            <mat-error *ngIf="form.get('link')?.hasError('required') && form.get('link')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('link')?.hasError('minlength') && form.get('link')?.touched">
                El link debe tener al menos 8 caracteres
            </mat-error>
            <mat-error *ngIf="form.get('link')?.hasError('maxlength') && form.get('link')?.touched">
                El link no debe superar los 50 caracteres
            </mat-error>
            <mat-error *ngIf="form.get('link')?.hasError('pattern') && form.get('link')?.touched">
                Solo se permiten URL válidas
            </mat-error>
        </div>

        <!-- Fecha -->
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" formControlName="fecha">
            <mat-error *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="form.get('fecha')?.hasError('fechaFutura') && form.get('fecha')?.touched">
                No se permiten fechas pasadas. Selecciona hoy o una fecha superior.
            </mat-error>
        </div>

        <!--Organizador-->
        <div class="form-group" *ngIf="!edicion">
            <label for="organizador">Organizador</label>
            <input id="organizador" type="text" formControlName="organizador" [value]="host.username" readonly class="input-id">
        </div>

        <!--Participante-->
        <div class="form-group">
            <label for="participante">Participante</label>
            <select id="participante" formControlName="participante">
                <option value="" disabled selected>Seleccione un participante</option>
                <option *ngFor="let usuario of listaUsuarios" [value]="usuario.idUsuario">
                    {{usuario.usNombre}}
                </option>
            </select>
        </div>

        <!--Botones-->
        <button type="submit" class="submit-button" [disabled]="form.invalid">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
        <button type="button" class="cancel-button" (click)="cancelar()">Cancelar</button>

    </form>
</div>