<div>
  <h1>Lista de Novelas</h1>
</div>

<div class="card-container">
  <div class="user-card" *ngFor="let novela of dataSource.data">
    <div class="card-header">
      <div class="card-actions-top-right">
        <button
          mat-raised-button
          [routerLink]="['ediciones', novela.idNovela]"
          class="action-button"
          aria-label="Editar novela"
        >
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button
          mat-raised-button
          (click)="eliminar(novela.idNovela)"
          class="action-button"
          aria-label="Eliminar novela"
        >
          <mat-icon>delete_forever</mat-icon>
          Eliminar
        </button>
        <button
          mat-raised-button
          (click)="aumentarCapitulo(novela)"
          color="accent"
          class="action-button"
          aria-label="Aumentar Capítulo"
        >
          <mat-icon>add_circle</mat-icon>
          Aumentar Capítulo
        </button>
      </div>

      <h2>{{ novela.novTitulo }}</h2>
      <p><strong>Resumen:</strong> {{ novela.novResumen }}</p>
      <p><strong>Género:</strong> {{ novela.novGenero }}</p>

      <button mat-raised-button (click)="obtenerCapitulos(novela.idNovela)">
        {{
          selectedNovelaId === novela.idNovela
            ? "Cerrar Capitulos"
            : "Ver Capitulos"
        }}
      </button>
    </div>

    <div
  class="capitulos-container"
 *ngIf="tieneCapitulos(novela.idNovela!)">
  <div *ngFor="let capitulo of capitulosPorNovela[novela.idNovela]" class="capitulo">

        <h3>{{ capitulo.capTitulo }}</h3>

        <hr class="separator" />

        <button
          mat-raised-button
          color="accent"
          (click)="toggleCapituloContent(capitulo)"
        >
          Ver más
        </button>

        <div *ngIf="expansionState[capitulo.idCapitulo]">
          <p>{{ capitulo.capContenido }}</p>

          <div class="capitulo-actions">
            <button
              mat-raised-button
              color="primary"
              (click)="editarCapitulo(capitulo)"
            >
              Editar Capítulo
            </button>

            <button
              mat-raised-button
              color="warn"
              (click)="eliminarCapitulo(capitulo.idCapitulo)"
            >
              Eliminar Capítulo
            </button>
            <!-- Botón Mejorar con IA -->
            <button
              mat-raised-button
              color="accent"
              (click)="mejorarConIA(capitulo.idCapitulo)"
            >
              Mejorar con IA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>Total de registros: {{ dataSource.filteredData.length }}</p>
<mat-paginator
  #paginator
  [pageSizeOptions]="[4, 8, 12]"
  showFirstLastButtons
></mat-paginator>
