<div class="form-container">
  <h1>Registro de CorreccionesIA</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <!-- Seleccionamos el capítulo (campo deshabilitado) -->
<mat-form-field>
  <mat-label>Capítulos</mat-label>
  <mat-select formControlName="capitulos" [disabled]="edicion">
    <mat-option *ngFor="let l of listaCapitulos" [value]="l.idCapitulo">
      ({{ l.idCapitulo }}) {{ l.capTitulo }}
    </mat-option>
  </mat-select>
</mat-form-field>

    <!-- Corrección IA generada -->
    <mat-form-field>
      <mat-label>Contenido de la Corrección</mat-label>
      <textarea
        matInput
        placeholder="Contenido"
        formControlName="correccionIA"
      ></textarea>
      <mat-error *ngIf="form.get('correccionIA')?.hasError('required')">
        El contenido es obligatorio!!
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      [disabled]="cargandoIA || form.invalid"
    >
      Aceptar
    </button>
  </form>
</div>
