<div class="form-container">
  <h1>{{ edicion ? 'Actualizar Biblioteca' : 'Registrar Biblioteca' }}</h1>

  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <div *ngIf="edicion">
      <label for="codigo">ID</label>
      <input id="codigo" type="text" formControlName="codigo" class="input-id" readonly />
    </div>

    <label for="nombre">Nombre de la Biblioteca</label>
    <input id="nombre" type="text" formControlName="nombre" placeholder="Ej. Ficción" />
    <div class="error" *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
      El nombre de la biblioteca es obligatorio.
    </div>

    <button type="submit" [disabled]="form.invalid">
      {{ edicion ? 'Actualizar' : 'Registrar' }}
    </button>

      <button type="submit"(click)="Cancelar()">
      Cancelar
    </button>

  </form>
</div>
