<div class="center-page">
  <div class="welcome-container">
    <div class="header">
      <h1 class="titulo">COOPNOVEL</h1>
      <img src="assets/favicon.ico" alt="Logo" class="logo" />
    </div>

    <p class="bienvenido">Bienvenido, {{usNombre}} {{usApellido}}</p>

    <p class="frase">
      “Aprender a leer es lo más importante que me ha pasado. Casi 70 años después sigo recordando con emoción aquel
      momento mágico en que las letras se transformaron en palabras y adquirieron sentido.”
      <br />
      <span class="autor">– Mario Vargas Llosa</span>
    </p>
  </div>
</div>
