<header>
  <div class="menu container">
    <div class="cLogo">
      <a routerLink="/inicio"><img src="assets/favicon.ico" alt="" class="img-logo" /></a>
      <a routerLink="/inicio" class="logo">Coopnovel</a>
    </div>

    <input type="checkbox" id="menu" />
    <label for="menu" class="icon-bars">
      <img class="menu-icono" alt="" />
    </label>

    <nav class="navbar">
      <ul>
        <li><a href="#" class="pa">Nosotros</a></li>
        <li><a href="#" class="pa">Explora</a></li>
        <li><a href="#" class="pa">Blog</a></li>
        <li>
          <button mat-button routerLink="/login" class="btn-IniciarSesion">
            Inicia Sesión
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="contenido">
    <img alt="" class="img-back" />
    <h1>Colabora con otros escritores.<br />Da y recibe retroalimentaciones</h1>
    <a routerLink="/usuarios/insertar" class="btn-empieza">Empieza ya!</a>
    <div class="img-cafe">
      <img src="assets/CesarVallejo.png" class="i1" alt="" />
      <img src="assets/VargasLLosa.png" class="i2" alt="" />
      <img src="assets/Arguedas.png" class="i3" alt="" />
    </div>
  </div>
</main>

<footer>
  <h3>&copy; 2025 CoopNovel. All rights reserved</h3>
  <h2>COOPNOVEL</h2>
  <div class="redes">
    <span>🔗</span>
    <span>📘</span>
    <span>📸</span>
    <span>🐦</span>
  </div>
</footer>
