<div>
  <button mat-button [matMenuTriggerFor]="USUARIOS" class="duolingo-menu-button">
    Usuarios
  </button>
</div>
<div>
  <button mat-button [matMenuTriggerFor]="BIBLIOTECA" class="duolingo-menu-button">
    Biblioteca
  </button>
</div>
<div>
  <button mat-button [matMenuTriggerFor]="PROYECTO" class="duolingo-menu-button">
    Proyecto
  </button>
</div>
<div>
  <button mat-button [matMenuTriggerFor]="NOVELA" class="duolingo-menu-button">
    Novela
  </button>
</div>

<mat-menu #USUARIOS="matMenu" class="duolingo-menu">
  <button mat-menu-item routerLink="/usuarios" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/usuarios/insertar" class="custom-menu-item">Registrar</button>
</mat-menu>


<mat-menu #BIBLIOTECA="matMenu" class="duolingo-menu">
  <button mat-menu-item routerLink="/biblioteca" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/biblioteca/insertar" class="custom-menu-item">Registrar</button>
</mat-menu>

<mat-menu #PROYECTO="matMenu" class="duolingo-menu">
  <button mat-menu-item routerLink="/proyecto" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/proyecto/insertar" class="custom-menu-item">Registrar</button>
</mat-menu>

<mat-menu #NOVELA="matMenu" class="duolingo-menu">
  <button mat-menu-item routerLink="/novela" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/novela/insertar" class="custom-menu-item">Registrar</button>
</mat-menu>
  
<router-outlet></router-outlet>
