<div class="login-wrapper">
  <div class="login-panel">
    <div class="logo-container">
      <img src="assets/favicon.ico" alt="Logo de la empresa" class="logo-img" />
      <h3 class="brand-name">CoopNovel</h3>
    </div>

    <h2 class="login-title">Ingresar a tu cuenta</h2>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Usuario</mat-label>
      <input
        matInput
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        #usernameCtrl="ngModel"
        required
      />
      <mat-error *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
        El usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        #passwordCtrl="ngModel"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Toggle password visibility'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon class="custom-icon">
          {{ hidePassword ? "📕" : "📖" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <div *ngIf="loading" class="spinner-container">
      <mat-progress-spinner
        mode="indeterminate"
        color="primary"
        diameter="40"
      ></mat-progress-spinner>
      <p class="loading-text">Iniciando sesión...</p>
    </div>

    <div *ngIf="!loading" class="button-group">
      <button
        mat-stroked-button
        color="primary"
        class="back-menu-button"
        (click)="login()"
      >
        Iniciar Sesión
      </button>

      <button
        mat-stroked-button
        class="cancel-button"
        [routerLink]="['/inicio']"
      >
        Volver al Menú
      </button>
    </div>
  </div>

  <div class="welcome-panel">
    <h1 class="welcome-title">¡BIENVENIDO LECTOR!</h1>
    <p class="welcome-subtitle">
      Regístrate y convierte cada página en una nueva aventura.
    </p>
    <button
      mat-stroked-button
      class="signup-button"
      [routerLink]="['/usuarios/insertar']"
    >
      Crear Cuenta
    </button>
  </div>
</div>
