<div class="form-container">
  <h1>{{ edicion ? "Actualizar Proyecto" : "Registrar Proyecto" }}</h1>
  <h1>({{ idUsuario }})-{{ usNombre }}</h1>

  <form [formGroup]="form" (submit)="aceptar()">

    <!-- ID del Proyecto (solo en edición) -->
    <div class="form-group" *ngIf="edicion">
      <label for="hcodigo">Código del Proyecto</label>
      <input id="hcodigo" type="text" formControlName="hcodigo" readonly class="input-id">
      <mat-error *ngIf="form.get('hcodigo')?.hasError('required') && form.get('hcodigo')?.touched">
        Este campo es obligatorio
      </mat-error>
    </div>

    <!-- Titulo -->
    <div class="form-group">
      <label for="htitulo">Titulo del Proyecto</label>
      <input id="htitulo" type="text" formControlName="htitulo" placeholder="Eg: Proyecto de Desarrollo">
      <mat-error *ngIf="form.get('htitulo')?.hasError('required') && form.get('htitulo')?.touched">
        Este campo es obligatorio
      </mat-error>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label for="hdescripcion">Descripción del Proyecto</label>
      <textarea id="hdescripcion" formControlName="hdescripcion" placeholder="Descripción breve del proyecto"></textarea>
      <mat-error *ngIf="form.get('hdescripcion')?.hasError('required') && form.get('hdescripcion')?.touched">
        Este campo es obligatorio
      </mat-error>
    </div>

    <!-- Botón de Envío con clase de estilo -->
    <button type="submit" class="submit-button" [disabled]="form.invalid">
      {{ edicion ? "Actualizar" : "Registrar" }}
    </button>

    <!-- Botón de Cancelar -->
    <button type="button" class="cancel-button" (click)="cancelar()">Volver a proyectos</button>

  </form>
</div>
