<div>
  <h1>Proyectos</h1>
</div>

<!-- Agregar el botón flotante para crear nuevo proyecto -->
<div class="crear-nuevo-proyecto">
  <button mat-raised-button [routerLink]="'/proyecto/insertar'" color="primary">
    Crear Nuevo Proyecto
  </button>
</div>

<div class="proyectos-container">
  <div *ngFor="let element of dataSource.filteredData" class="proyecto-card">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>{{ element.proyTitulo }}</mat-card-title>
        <mat-card-subtitle>{{ element.usario.usNombre }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Descripción:</strong> {{ element.proyDescripcion }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-flat-button
          [routerLink]="['/novela/insertar']"
          [queryParams]="{ proyectoId: element.idProyecto }"
          *ngIf="isAdministrador() || isAutor()"
        >
          <mat-icon>add_circle</mat-icon> Crear Novela
        </button>

        <button
          mat-flat-button
          [routerLink]="['ediciones', element.idProyecto]"
          *ngIf="isAdministrador() || isAutor() || isColaborador()"
        >
          <mat-icon>edit</mat-icon> Editar
        </button>

        <button
          mat-flat-button
          (click)="eliminar(element.idProyecto)"
          *ngIf="isAdministrador() || isAutor() || isColaborador()"
        >
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    #paginator
    [pageSizeOptions]="[4, 8, 12]"
    showFirstLastButtons
  ></mat-paginator>

  <p class="total-registros">
    Total de registros: {{ dataSource.filteredData.length }}
  </p>
</div>
