<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [opened]="true" [class.collapsed]="!isExpanded" class="sidenav">
    <button mat-icon-button (click)="toggleMenu()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-nav-list>

      <!-- USUARIOS -->
      <button mat-button [matMenuTriggerFor]="USUARIOS">
        <mat-icon>person</mat-icon>
        <span *ngIf="isExpanded">Usuarios</span>
      </button>

      <!-- BIBLIOTECA -->
      <button mat-button [matMenuTriggerFor]="BIBLIOTECA">
        <mat-icon>menu_book</mat-icon>
        <span *ngIf="isExpanded">Biblioteca</span>
      </button>

      <!-- PROYECTO -->
      <button mat-button [matMenuTriggerFor]="PROYECTO">
        <mat-icon>work</mat-icon>
        <span *ngIf="isExpanded">Proyecto</span>
      </button>

      <!-- NOVELA -->
      <button mat-button [matMenuTriggerFor]="NOVELA">
        <mat-icon>auto_stories</mat-icon>
        <span *ngIf="isExpanded">Novela</span>
      </button>

      <!-- CAPÍTULO -->
      <button mat-button [matMenuTriggerFor]="CAPITULO">
        <mat-icon>receipt</mat-icon>
        <span *ngIf="isExpanded">Capítulo</span>
      </button>

      <!-- REUNION -->
      <button mat-button [matMenuTriggerFor]="REUNION">
        <mat-icon>people</mat-icon>
        <span *ngIf="isExpanded">Reunion</span>
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #USUARIOS="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/insertar">Registrar</button>
</mat-menu>

<mat-menu #BIBLIOTECA="matMenu">
  <button mat-menu-item routerLink="/biblioteca">Listar</button>
  <button mat-menu-item routerLink="/biblioteca/insertar">Registrar</button>
</mat-menu>

<mat-menu #PROYECTO="matMenu">
  <button mat-menu-item routerLink="/proyecto">Listar</button>
  <button mat-menu-item routerLink="/proyecto/insertar">Registrar</button>
</mat-menu>

<mat-menu #NOVELA="matMenu">
  <button mat-menu-item routerLink="/novela">Listar</button>
  <button mat-menu-item routerLink="/novela/insertar">Registrar</button>
</mat-menu>

<mat-menu #CAPITULO="matMenu">
  <button mat-menu-item routerLink="/capitulo">Listar</button>
  <button mat-menu-item routerLink="/capitulo/insertar">Registrar</button>
</mat-menu>

<mat-menu #REUNION="matMenu">
  <button mat-menu-item routerLink="/reunion">Listar</button>
  <button mat-menu-item routerLink="/reunion/insertar">Registrar</button>
</mat-menu>