.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  transition: width 0.3s;
  background: #f4f4f4;
}

.sidenav.collapsed {
  width: 60px;
}

.toggle-button {
  margin: 10px;
}

mat-icon {
  margin-right: 10px;
}

.libro-recomendado {
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: center;
}

.libro-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.active-link {
  background-color: #e1bee7 !important;
  border-radius: 6px;
}
