<mat-sidenav-container class="sidenav-container" *ngIf="verificar()">
  <mat-sidenav
    #drawer
    mode="side"
    [opened]="true"
    [class.collapsed]="!isExpanded"
    class="sidenav"
  >
    <button mat-icon-button (click)="toggleMenu()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-nav-list>
      <!--HOME-->
      <button mat-button [routerLink]="['/homes']">
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </button>

      <!-- USUARIOS -->
      <button mat-button [matMenuTriggerFor]="USUARIOS" *ngIf="isAdministrador()">
        <mat-icon>person</mat-icon>
        <span *ngIf="isExpanded">Usuarios</span>
      </button>

      <!-- BIBLIOTECA -->
      <button mat-button [matMenuTriggerFor]="BIBLIOTECA" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>menu_book</mat-icon>
        <span *ngIf="isExpanded">Biblioteca</span>
      </button>

      <!-- PROYECTO -->
      <button mat-button [matMenuTriggerFor]="PROYECTO" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>work</mat-icon>
        <span *ngIf="isExpanded">Proyecto</span>
      </button>

      <!-- NOVELA -->
      <button mat-button [matMenuTriggerFor]="NOVELA" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>auto_stories</mat-icon>
        <span *ngIf="isExpanded">Novela</span>
      </button>

      <!-- CAPÍTULO -->
      <button mat-button [matMenuTriggerFor]="CAPITULO" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>receipt</mat-icon>
        <span *ngIf="isExpanded">Capítulo</span>
      </button>

      <!-- REUNION -->
      <button mat-button [matMenuTriggerFor]="REUNION" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>people</mat-icon>
        <span *ngIf="isExpanded">Reunión</span>
      </button>

      <!-- DESCARGAS -->
      <button mat-button [matMenuTriggerFor]="DESCARGAS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>cloud_download</mat-icon>
        <span *ngIf="isExpanded">Descargas</span>
      </button>

      <!-- COMENTARIOS -->
      <button mat-button [matMenuTriggerFor]="COMENTARIOS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>comment</mat-icon>
        <span *ngIf="isExpanded">Comentarios</span>
      </button>

      <!-- Correcciones -->
      <button mat-button [matMenuTriggerFor]="CORRECCIONES" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>comment</mat-icon>
        <span *ngIf="isExpanded">Correcciones</span>
      </button>
      
      <!-- NOVELASBIBLIOTECAS -->
      <button mat-button [matMenuTriggerFor]="NOVELASBIBLIOTECAS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>comment</mat-icon>
        <span *ngIf="isExpanded">NovelasBibliotecas</span>
      </button>

      <!-- SUSCRIPCIONES -->
      <button mat-button [matMenuTriggerFor]="SUSCRIPCIONES" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>comment</mat-icon>
        <span *ngIf="isExpanded">Suscripciones</span>
      </button>
      

      <!-- ROLES -->
      <button mat-button [matMenuTriggerFor]="ROLES" *ngIf="isAdministrador()">
        <mat-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded">Roles</span>
      </button>

      <!--TODOS LAS DIRECCIONES ANTES DE REPORTES (REPORTES POR ORDEN VA AL ÚLTIMO)-->

      <!-- REPORTE -->
      <button mat-button [matMenuTriggerFor]="REPORTES">
        <mat-icon>report</mat-icon>
        <span *ngIf="isExpanded">Reportes</span>
      </button>

      <button mat-button [matMenuTriggerFor]="menuSalir" class="btn-rojo">
        <mat-icon>person</mat-icon>
        <span *ngIf="isExpanded">Usuario</span>
      </button>
    </mat-nav-list>

    <!-- LIBRO RECOMENDADO -->
    <div class="libro-recomendado p-2">
      <!-- Ícono colapsado -->
      <div *ngIf="!isExpanded" class="libro-icono">
        <mat-icon style="font-size: 32px">menu_book</mat-icon>
      </div>

      <!-- Contenido expandido -->
      <div *ngIf="isExpanded">
        <h4 style="margin-top: 1rem">📚 Recomendación del día</h4>

        <div *ngIf="imagen">
          <img
            [src]="imagen"
            [alt]="titulo"
            style="width: 100%; border-radius: 8px; margin-bottom: 0.5rem"
          />
        </div>

        <div style="font-weight: bold">{{ titulo }}</div>
        <div style="font-size: 0.9rem; color: gray">{{ autor }}</div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Menús desplegables (no necesitan routerLinkActive) -->
<mat-menu #USUARIOS="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/insertar">Registrar</button>
</mat-menu>

<mat-menu #BIBLIOTECA="matMenu">
  <button mat-menu-item routerLink="/biblioteca" >Listar</button>
  <button mat-menu-item routerLink="/biblioteca/insertar">Registrar</button>
</mat-menu>

<mat-menu #PROYECTO="matMenu">
  <button mat-menu-item routerLink="/proyecto">Listar</button>
  <button mat-menu-item routerLink="/proyecto/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
</mat-menu>

<mat-menu #NOVELA="matMenu">
  <button mat-menu-item routerLink="/novela">Listar</button>
  <button mat-menu-item routerLink="/novela/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
</mat-menu>

<mat-menu #CAPITULO="matMenu">
  <button mat-menu-item routerLink="/capitulo">Listar</button>
  <button mat-menu-item routerLink="/capitulo/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
</mat-menu>

<mat-menu #REUNION="matMenu">
  <button mat-menu-item routerLink="/reunion">Listar</button>
  <button mat-menu-item routerLink="/reunion/insertar">Registrar</button>
</mat-menu>

<mat-menu #DESCARGAS="matMenu">
  <button mat-menu-item routerLink="/descargas">Listar</button>
  <button mat-menu-item routerLink="/descargas/insertar">Registrar</button>
</mat-menu>

<mat-menu #COMENTARIOS="matMenu">
  <button mat-menu-item routerLink="/comentario">Listar</button>
  <button mat-menu-item routerLink="/comentario/insertar">Registrar</button>
</mat-menu>

<mat-menu #CORRECCIONES="matMenu">
  <button mat-menu-item routerLink="/correccionIA" >Listar</button>
  <button mat-menu-item routerLink="/correccionIA/insertar" *ngIf="isAdministrador() || isAutor() || isColaborador()" >Registrar</button>
</mat-menu>

<mat-menu #NOVELASBIBLIOTECAS="matMenu">
  <button mat-menu-item routerLink="/novelasbibliotecas">Listar</button>
  <button mat-menu-item routerLink="/novelasbibliotecas/insertar">Registrar</button>
</mat-menu>

<mat-menu #SUSCRIPCIONES="matMenu">
  <button mat-menu-item routerLink="/suscripciones">Listar</button>
  <button mat-menu-item routerLink="/suscripciones/insertar">Registrar</button>

<mat-menu #ROLES="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/insertar">Registrar</button>
</mat-menu>

<mat-menu #REPORTES="matMenu">
  <button mat-menu-item routerLink="/reportes">Edad</button>
  <button mat-menu-item routerLink="/reportes/reportecapitulosdescargados">CapDescargados</button>
  <button mat-menu-item routerLink="/reportes/reportecomentariosxusuarios">Cantidad Comentarios</button>
  <button mat-menu-item routerLink="/reportes/reporte-top-three-comentarios">Top 3 usuarios que más comentan</button>
  <button mat-menu-item routerLink="/reportes/reportecapitulosdescargados">
    CapDescargados
  </button>
  <button mat-menu-item routerLink="/reportes/reportecomentariosxusuarios">
    Cantidad Comentarios
  </button>
  <button mat-menu-item routerLink="/reportes/numero-capitulo">
    Cantidad de Capitulos
  </button>
  <button mat-menu-item routerLink="/reportes/SusccripcionMes">
    Suscripciones Por mes
  </button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item disabled>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
