<mat-sidenav-container class="sidenav-container" *ngIf="verificar()">
  <mat-sidenav #drawer mode="side" [opened]="true" class="sidenav">
    <div class="logo-empresa-container">
      <img src="assets/favicon.ico" alt="Logo" class="logo-img" />
      <span class="empresa-nombre">CoopNovel</span>
      <br />
      <div class="usuario-info">
        <span class="usuario-nombre">{{ usNombre }} {{ usApellido }}</span>
        <br />
        <span class="usuario-rol">{{ role }}</span>
      </div>
    </div>

    <mat-nav-list>
      <!-- HOME -->
      <button mat-button [routerLink]="['/homes']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <!-- USUARIOS -->
      <button mat-button [matMenuTriggerFor]="USUARIOS" *ngIf="isAdministrador()">
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
      </button>
      <button mat-button routerLink="/usuarios" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" *ngIf="!isAdministrador()">
        <mat-icon>person</mat-icon>
        <span>Ver Perfil</span>
      </button>

      <!-- BIBLIOTECA -->
      <button mat-button [matMenuTriggerFor]="BIBLIOTECA" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>menu_book</mat-icon>
        <span>Biblioteca</span>
      </button>

      <!-- PROYECTO -->
      <button mat-button [matMenuTriggerFor]="PROYECTO" *ngIf="isAdministrador() || isAutor() || isColaborador()">
        <mat-icon>work</mat-icon>
        <span>Proyecto</span>
      </button>

      <!-- NOVELA -->
      <button mat-button [matMenuTriggerFor]="NOVELA" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>auto_stories</mat-icon>
        <span>Novela</span>
      </button>

      <!-- CAPÍTULO -->
      <button mat-button [matMenuTriggerFor]="CAPITULO" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>receipt</mat-icon>
        <span>Capítulo</span>
      </button>

      <!-- REUNIÓN -->
      <button mat-button [matMenuTriggerFor]="REUNION" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>people</mat-icon>
        <span>Reunión</span>
      </button>

      <!-- DESCARGAS -->
      <button mat-button [matMenuTriggerFor]="DESCARGAS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>cloud_download</mat-icon>
        <span>Descargas</span>
      </button>

      <!-- COMENTARIOS -->
      <button mat-button [matMenuTriggerFor]="COMENTARIOS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>comment</mat-icon>
        <span>Comentarios</span>
      </button>

      <!-- CORRECCIONES -->
      <button mat-button [matMenuTriggerFor]="CORRECCIONES" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>edit</mat-icon>
        <span>Correcciones</span>
      </button>

      <!-- NOVELASBIBLIOTECAS -->
      <button mat-button [matMenuTriggerFor]="NOVELASBIBLIOTECAS" *ngIf="isAdministrador() || isAutor() || isColaborador() || isLector()">
        <mat-icon>library_books</mat-icon>
        <span>NovelasBibliotecas</span>
      </button>

      <!-- SUSCRIPCIONES -->
      <button mat-button [matMenuTriggerFor]="SUSCRIPCIONES" *ngIf="isAdministrador()">
        <mat-icon>subscriptions</mat-icon>
        <span>Suscripciones</span>
      </button>

      <button mat-button routerLink="/suscripciones/cantidad-suscripciones" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>assignment_ind</mat-icon><span>Ver escritores</span></button>

      <!-- ROLES -->
      <button mat-button [matMenuTriggerFor]="ROLES" *ngIf="isAdministrador()">
        <mat-icon>supervisor_account</mat-icon>
        <span>Roles</span>
      </button>

      <!-- REPORTES -->
      <button mat-button [matMenuTriggerFor]="REPORTES">
        <mat-icon>report</mat-icon>
        <span>Reportes</span>
      </button>

      <button mat-button (click)="cerrar()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="contenido-principal">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <!-- Menús desplegables -->
  <mat-menu #USUARIOS="matMenu">
    <button mat-menu-item routerLink="/usuarios">Listar</button>
    <button mat-menu-item routerLink="/usuarios/insertar" *ngIf="isAdministrador()">Registrar</button>
  </mat-menu>

  <mat-menu #BIBLIOTECA="matMenu">
    <button mat-menu-item routerLink="/biblioteca">Listar</button>
    <button mat-menu-item routerLink="/biblioteca/insertar">Registrar</button>
    <button mat-menu-item routerLink="/biblioteca-full">Mi Biblioteca</button>
  </mat-menu>

  <mat-menu #PROYECTO="matMenu">
    <button mat-menu-item routerLink="/proyecto">Listar</button>
    <button mat-menu-item routerLink="/proyecto/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
  </mat-menu>

  <mat-menu #NOVELA="matMenu">
    <button mat-menu-item routerLink="/novela">Listar</button>
    <button mat-menu-item routerLink="/novela/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
  </mat-menu>

  <mat-menu #CAPITULO="matMenu">
    <button mat-menu-item routerLink="/capitulo">Listar</button>
    <button mat-menu-item routerLink="/capitulo/insertar" *ngIf="isAdministrador() || isAutor()">Registrar</button>
  </mat-menu>

  <mat-menu #REUNION="matMenu">
    <button mat-menu-item routerLink="/reunion">Listar</button>
    <button mat-menu-item routerLink="/reunion/insertar">Registrar</button>
  </mat-menu>

  <mat-menu #DESCARGAS="matMenu">
    <button mat-menu-item routerLink="/descargas">Listar</button>
    <button mat-menu-item routerLink="/descargas/insertar">Registrar</button>
  </mat-menu>

  <mat-menu #COMENTARIOS="matMenu">
    <button mat-menu-item routerLink="/comentario">Listar</button>
    <button mat-menu-item routerLink="/comentario/insertar">Registrar</button>
  </mat-menu>

  <mat-menu #CORRECCIONES="matMenu">
    <button mat-menu-item routerLink="/correccionIA">Listar</button>
    <button mat-menu-item routerLink="/correccionIA/insertar" *ngIf="isAdministrador() || isAutor() || isColaborador()">Registrar</button>
  </mat-menu>

  <mat-menu #NOVELASBIBLIOTECAS="matMenu">
    <button mat-menu-item routerLink="/novelasbibliotecas">Listar</button>
    <button mat-menu-item routerLink="/novelasbibliotecas/insertar">Registrar</button>
  </mat-menu>

  <mat-menu #SUSCRIPCIONES="matMenu">
    <button mat-menu-item routerLink="/suscripciones">Listar</button>
    <button mat-menu-item routerLink="/suscripciones/insertar">Registrar</button>
    <button mat-menu-item routerLink="/suscripciones/cantidad-suscripciones">Buscar</button>
  </mat-menu>

  <mat-menu #ROLES="matMenu">
    <button mat-menu-item routerLink="/roles">Listar</button>
    <button mat-menu-item routerLink="/roles/insertar">Registrar</button>
  </mat-menu>

  <mat-menu #REPORTES="matMenu">
    <button mat-menu-item routerLink="/reportes">Edad</button>
    <button mat-menu-item routerLink="/reportes/reportecapitulosdescargados">CapDescargados</button>
    <button mat-menu-item routerLink="/reportes/reportecomentariosxusuarios">Cantidad Comentarios</button>
    <button mat-menu-item routerLink="/reportes/top-three-comentarios">Top 3 usuarios que más comentan</button>
    <button mat-menu-item routerLink="/reportes/usuarios-suscritos">Usuarios suscritos más de una vez</button>
    <button mat-menu-item routerLink="/reportes/numero-capitulo">Cantidad de Capitulos</button>
    <button mat-menu-item routerLink="/reportes/SuscripcionMes">Suscripciones Por mes</button>
  </mat-menu>
</mat-sidenav-container>
