.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 260px;
  background-color: #642caa;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.logo-empresa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.logo-img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.empresa-nombre {
  font-weight: bold;
  font-size: 16px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: white;
  font-weight: 500;
  justify-content: flex-start;
  white-space: nowrap;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-icon {
  margin-right: 12px;
  color: white;
  font-size: 24px;
}

.active-link {
  border-left: 4px solid #c78cd1;
  background-color: rgba(255, 255, 255, 0.15);
  color: white !important;
}

span {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.contenido-principal {
  padding: 24px; /* Puedes ajustar este valor según lo que necesites */
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contenido-principal {
    padding: 16px;
  }
}
